.header {
  background-color: #4285f4;
  height: 80px;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
}

h2 {
  color: white;
  margin-left: 70px;
}

.btn__end-test {
  height: 40px;
  width: 100px;
  margin-top: 20px;
  margin-left: 1150px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(237, 26, 26);
  border-radius: 5px;
  border: 1px solid rgb(196, 145, 145);
}
