.form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-left: 0;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  background-color: #f8faff;
}

.other-sign-in-options {
  margin-bottom: 25px;
  margin-left: 300px;
  width: 52%;
}

.manual-form {
  margin-left: 300px;
  width: 52%;
  /* color: red; */
}

.manual-form form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.manual-form input {
  margin-bottom: 20px;
}

.manual-form p {
  margin-top: 10px;
}

.manual-form input {
  height: 30px;
  width: 255px;
  border-radius: 10px;
  border: 0.5px solid grey;
}

.manual-form button {
  height: 30px;
  width: 260px;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  background-color: #4285f4;
  color: white;
  font-weight: 600;
  border: none;
}

button {
  margin-top: 10px;
  cursor: pointer;
}

input {
  margin-top: 10px;
}
